html {
  font-family: verdana;
}

h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
}

#div-autocomplete, input, div {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.autocomplete-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;
}

.autocomplete-input, input {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 100%;
  padding: 12px 12px 12px 12px;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 12px;
}

li {
  font-size: 16px;
  border: 1px solid #eee;
  font-size: 16px;
  border: 1px solid #eee;
  padding: 4px;
}

.error {
  color: red;
}

.hint {
  color: gray;
}

.hintError {
  color: red;
  border-color: red;
}

.hintSuccess {
  border-color: green;
}

.city {
  cursor: pointer;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded=true] {
  border-color: rgba(0, 0, 0, .12);
  background-color: #fff;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
}

[data-position=below] .autocomplete-input[aria-expanded=true] {
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
}

[data-position=above] .autocomplete-input[aria-expanded=true] {
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.autocomplete-result-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
}

[data-position=below] .autocomplete-result-list {
  margin-top: -1px;
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  padding-bottom: 8px;
}

[data-position=above] .autocomplete-result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
  padding-top: 8px;
}

.autocomplete-result {
  cursor: default;
  padding: 12px 12px 12px 48px;
  background-repeat: no-repeat;
  background-position: 12px;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected=true] {
  background-color: rgba(0, 0, 0, .06);
}

button {
  background-color: #4CAF50;
 /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}